.contact {
  display: flex;
  gap: 50px;
  flex-basis: calc((100% - 50px) / 3);

  &__mail {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--transition);
  }

  &__logo {
    fill: var(--secondary-text-color);
  }

  &__tel {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--transition);
  }
  
  &__mail:hover,
  &__mail:focus {
    color: var(--accent);
  }

  &__mail:hover &__logo,
  &__mail:focus &__logo {
    fill: currentColor;
  }

  &__tel:hover,
  &__tel:focus {
    color: var(--accent);
  }

  &__tel:hover &__logo,
  &__tel:focus &__logo {
    fill: currentColor;
  }
}
  // .contact__item {
  //   margin-right: 0;
  //   list-style: none;
  // }

  
  // .contact__item li {
  //   margin-right: 50px;
  // }

  // .link-nav {
  //   text-decoration: none;
  //   /* color: var(--primary-color); */
  //   display: flex;
  //   align-items: center;
  //   gap: 10px;
  // }

  

