.header {
  background-color: var(--white);
  border-bottom: 1px solid #ececec;
  padding: 24px 0;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 93px;
  }
}
