.address {
  .address__list {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 9px;
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  .address__link {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--white);
  }

  .address__mail {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition);
  }

  .address__mail:hover,
  .address__mail:focus {
    color: var(--accent);
  }

  .address__tel {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition);
  }

  .address__tel:hover,
  .address__tel:focus {
    color: var(--accent);
  }
  }


  // .main-logo {
  //   color: var(--white);
  // }

  // .address__item {
  //   margin-bottom: 9px;
  // }

  // .link-address {
  //   fill: currentColor;
  // }

  

  // .address-footer {
  //   display: flex;
  // }

  // .address__item {
  //   list-style: none;
  

