.address {
  &__list {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 9px;
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__link {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--white);
  }

  &__mail {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition);
  }

  &__mail:hover,
  &__mail:focus {
    color: var(--accent);
  }

  &__tel {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition);
  }

  &__tel:hover,
  &__tel:focus {
    color: var(--accent);
  }
}

// .main-logo {
//   color: var(--white);
// }

// .address__item {
//   margin-bottom: 9px;
// }

// .link-address {
//   fill: currentColor;
// }

// .address-footer {
//   display: flex;
// }

// .address__item {
//   list-style: none;
