.email-form {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 60px auto 0;

  }
.email-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
  }


.email-form-group {
  display: flex;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 12px;
  }
}

.email-form-input {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  width: 450px;
  height: 50px;
  padding-left: 16px;
  color: var(--white);

  @media screen and (min-width: 1200px) {
    width: 358px;
    padding-left: 16px;
  }
}
}

.email-form-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 28px;
  height: 50px;
  border: 0;
  color: var(--white);
  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;


.email-form-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);

  @media screen and (min-width: 1200px) {
    line-height: calc(30 / 16);
  }
}
}