.logo-footer {
  display: block;
  padding: 0;
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  gap: 70px;
  align-items: baseline;
  justify-content: space-between;
}

.main-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-soc {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}