// .socials__list {
//   display: flex;
//   gap: 10px;
//   justify-content: center;
// }

// .social__links {
//   width: 44px;
//   height: 44px;
//   background-color: rgba(255, 255, 255, 0.1);
//   border-radius: 50%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: var(--social-links);
//   fill: var(--white);

//   transition: background-color var(--transition), color var(--transition);
// }

// .social__links:hover,
// .social__links:focus {
//   color: var(--white);
//   background-color: var(--accent);
// }

.socials__icon {
  fill: currentColor;
}

.social-links-block {
  display: flex;
}

.social-links-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  padding-bottom: 20px;
}

.social-links-footer {
  display: flex;
  gap: 10px;
}