.hero {
  // background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //   url(../images/hero.jpg);
  // background-color: #2f303a;
  max-width: 1600px;
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/img_mob-@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_mob-@2x.png);
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_tab-@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_tab-@2x.png);
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_des-@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_des-@2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  .hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);

    width: 360px;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 479px) {
      width: auto;
    }

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: calc(60 / 44);
      width: 696px;
    }
  }

  .btn-hero {
    // border: none;
    // cursor: pointer;
    // font-family: inherit;

    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.87;
    // display: flex;
    // align-items: center;
    // // padding: 10px 32px;
    // padding: 10px 24px;
    // min-width: 216px;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // text-align: center;
    // letter-spacing: 0.06em;
    // border-radius: 4px;
    // // transition: color var(--transition), background-color var(--transition);
    border-radius: 4px;
    background-color: var(--accent);
    color: var(--white);
    border: 0;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 10px 24px;
    height: 50px;

    @media screen and (min-width: 1200px) {
      padding: 10px 32px;
    }
  }
}

.module-btn-hero {
  background-color: #188ce8;
}
