
  // background-color: var(--white);
  // padding-bottom: 0;
.skils{
.skils__list {
  display: flex;
  gap: 30px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    // flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-direction: unset;
    // flex-wrap: nowrap;
    // flex-basis: calc((100% - 30px) / 4);
  }
}

.skils__item {
  // width: 270px;
  // list-style: none;

  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.skils__block {
  display: flex;
  // gap: 30px;
  align-items: center;
  justify-content: center;
  // width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  width: 100%;
}

.skils__subtitle {
  // font-weight: 700;
  // letter-spacing: 0.03em;
  // line-height: 1.14;
  // text-transform: uppercase;
  // font-size: 14px;
  // margin-top: 0;
  // margin-bottom: 10px;

  font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
}

.skils__text {
  // line-height: 1.71;
  color: var(--secondary-text-color);
  // font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em
}

// .skils,
// .skils__list {
//   display: flex;
//   gap: 30px;
//   flex-direction: column;

//   @media screen and (min-width: 768px) {
//     flex-direction: row;
//     flex-wrap: wrap;
//     flex-basis: calc((100% - 30px) / 2);
//   }

//   @media screen and (min-width: 1200px) {
//     flex-direction: row;
//     flex-wrap: nowrap;
//     flex-basis: calc((100% - 30px) / 4);
//   }
// }

} 

.skils__icon {
  display: flex;
  border-radius: 4px;
}


