body {
  color: var(--primary-color);
  background-color: var(--white);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.page {
  background-color: var(--white);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}