:root {
/* Шрифти */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

/* Кольори тексту */
  --primary-color: #212121;
  --accent: #2196f3;
  --secondary-text-color: #757575;
  --social-links: #afb1b8;

/* Кольори фону */
  --white: #ffffff;

/* Заокруглення */
  --border-radius: 4px;

/* CSS переходи */
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}