.portfolio-cards {
  background: #ffffff;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

.cards-thumb {
  position: relative;
  overflow: hidden;
}

.cards-thumb:hover .overlay,
.cards-thumb:focus .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--transition);
}

.overlay-content {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white);
}

.cards-title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
  color: var(--secondary-text-color);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards-item {
  transition: box-shadow var(--transition);
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
}

.cards-item:hover,
.cards-item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}